header {
	top: 0;
	margin: 0;
	// padding-top: 40px;
	padding-bottom: 40px;
	margin-top: 30px;
	text-align: center;
}

.imageheader{
	width: 100%;
	max-width: 1900px;
}

.threecolumn clearfix{
	width: 100%;
	max-width: 500px;
}

footer{
	color: white;
	font-family: $opensansfont;
	height: 110px;
	padding-bottom: 15px;
	margin-top: 15px;
	// position: fixed;
	bottom: 0px;
	width: 100%;
}

// h13{
// 	position: absolute;
// 	bottom: 0px;
// 	right: 0px;
// 	padding-right: 35px;
// 	margin-bottom: 5px;
// 	font-size: .7em;
// }

h3, h5, h7, h9, h11{
	color: white;
	font-size: 2em;
	font-family: $opensansfont;
}

h4, h6, h8, h10, h12{
	color: white;
	font-size: 1.2em;
	font-family: $opensansfont;
}

p{
	color: white;
	font-size: 1em;
	font-family: $opensansfont;
}

.imagefooter{
	width: 100%;
	max-width: 350px;
}

html{
	 background: url('../img/blueprint_wide.png') no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

/* universal styles */

*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.clearfix:after{
	display: table;
	content: " ";
	clear: both;
}

.centerme {
	text-align: center;
}

/* global styles */

.container {
	width: 95%;
	margin: 0 auto;
}

.left{
	float: left;
	// background: url("img/boxes.png");
	// background-size: cover;
}

.right{
	float: right;
}

h1{
	opacity: 0;
}

h1, 
h2,
p {
	margin-bottom: 10px;
}


.twocolumn section{
	width: 49%;
}

.threecolumn section{
	width: 32%;
	margin-right: 2%;
	float:left;
}

.threecolumn section:nth-of-type(3n){
	margin-right: 0;
}

figure{
	width: 60%;
}

figure img{
	width: 100%;
}

/*media query block small mobile*/
@media only screen and (max-width: 480px){
	.twocolumn section, .threecolumn section, figure{
		width: 100%;
		float: none;
	}

}
/*end medium tablet block*/
